
<h1>Owner Show Page</h1>

<h1>Welcome, <%=current_owner.name%> !</h1>
<br>
<h2>Your upcoming appointments:</h2>
 <%current_owner.appointments.each do |a|%>
 <ul>
 <li>
  <form action="/appointments/edit" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label for="appointment"> <%=a.date_time%> for: <%=a.dog.name%></label>
  <button type="submit" class="button-2" value="<%=a.id%>" name="appointment">CANCEL</button>
  </form>
   </li>
 </ul>
 <%end%>
 <br>
 <h2>Your Dogs:</h2><br>
 <%current_owner.dogs.each do |d|%>
 <ul>
 <li><strong><%=d.name%></strong>  </li> 
 <p>NOTES: <%=d.special_notes%></p>
 <%end%>
 </ul>
<br>
<h2></h2>
<button class="button-2"><a href="/owners/<%="#{current_owner.slug}"%>/edit">Update Profile Info</a></button>
<br>
<br>
<%if current_owner.name == "Wagtorium Manager"%>
<button class="button-3"><a href="/appointments/new">MANAGER CREATE NEW APPOINTMENTS!</a></button>
<%end%>
